<div class="column">
  <nav class="panel"> 
    <p class="panel-heading"><%= t '.title' %></p>
  </nav>
    <% @users.each do |u| %>
    <% if u != current_user %>
      <div class="panel-block">
        <article class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <% if u.avatar.attached? %>
                <%= image_tag u.avatar %>
              <% else %>
                <%= link_to gravatar_image_tag(u.email, size: 64, alt: u.name) %>
              <% end %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong style="text-decoration: none; color: black;"><%= link_to u.name, user_path(u.id) %></strong>
                <small style="text-decoration: none;">@<%= link_to u.username, user_path(u.id) %></small>
              </p>
            </div>
          </div>
        </article>
      </div>
      <% end %>
  <% end %>
</div>
