<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <div class="column is-one-quarter">
          <%= render 'profile' %>
          <%= render 'trends' %>
        </div>
      <% else%>
        <%= render 'trends' %>
      <% end %>
        <%= render 'feed' %>
        <%= render 'who-to-follow' %>
    </div>
  </div>
</section>
