<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <nav class="panel"> 
          <p class="panel-heading"><%= t '.title' %></p>
          <div class="panel-block">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                <% user = User.find(@user_id) %>
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar %>
                <% else %>
                  <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
                <% end %>
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= user.name %></strong>
                    <small>@<%= user.username %></small>
                  </p>
                  <section id="all-links">
                    <% if user_signed_in? && user.id != current_user.id %>
                      <% if current_user.followees.include?(user) %>
                          <h5><%= button_to t('.unfollow'), unfollow_user_path, method: "POST", class: "button is-info" %></h5>
                      <% else %>
                          <h5><%= button_to t('.follow'), follow_user_path, method: "POST", class: "button is-info" %></h5>
                      <% end %>
                    <% end %>
                  </section>
                </div>
              </div>
            </article>
          </div>
          <div class="panel-block">
            <div class="level is-mobile">
              <div class="level-item has-centered-text">
                <div>
                  <p class="heading"><%= t '.tweeets_count' %></p>
                  <p class="title is-6"><%= user.tweeets.count %></p>
                </div>
              </div>
              <div class="level-item has-centered-text">
                <div>
                  <p class="heading"><%= t '.following_count' %></p>
                  <p class="title is-6"><%= user.followees.count %></p>
                </div>
              </div>
              <div class="level-item has-centered-text">
                <div>
                  <p class="heading"><%= t '.followers_count' %></p>
                  <p class="title is-6"><%= user.followers.count %></p>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="column is-half">
        <% if @tweeets.empty? %>
          <h1 style="text-align: center; padding-top: 23px;"><strong><%= t '.empty_feed' %></strong></h1>
        <% else %>
          <% @tweeets.reverse.each do |tweeet| %>
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <p class="image is-64x64">
                    <% if tweeet.user.avatar.attached? %>
                    <%= image_tag tweeet.user.avatar %>
                  <% else %>
                    <%= gravatar_image_tag(tweeet.user.email, size: 64, alt: tweeet.user.name) %>
                  <% end %>
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p><strong><%= tweeet.user.name %></strong></p>
                    <p><small>@<%= tweeet.user.username %></small></p>
                    <p><strong><%= t '.category' %></strong><%= tweeet.category.name %></p>
                    <p><%= tweeet.tweeet %></p>
                    <p><%= image_tag(tweeet.image) if tweeet.image? %></p>
                    <% added = distance_of_time_in_words(tweeet.updated_at, Time.now) %>
                    <p><%= t('.added_ago', added: added) %></p>
                  </div>

                  <% if user_signed_in? && current_user.username == tweeet.user.username %>
                    <nav class="level">
                      <div class="level-left is-mobile">
                        <%= link_to tweeet, class: "level-item" do %>
                          <span class="icon">
                            <i class="fa fa-link" aria-hidden="true"></i>
                          </span>
                        <% end %>
                        <%= link_to edit_tweeet_path(tweeet), class: "level-item" do %>
                          <span class="icon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </span>
                        <% end %>
                        <%= link_to tweeet, method: :delete, data: { confirm: "Are you sure you want to delete this tweeet?"} do %>
                          <span class="icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                          </span>
                        <% end %>
                      </div>
                    </nav>
                  <% end %>
                </div>
              </article>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>